<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="nav col-12">
                <a href="#" class="nav__home">
                    <img src="../assets/images/lightgreen_ellipse.svg" alt="lightgreen_ellipse"
                        class="lightgreen_ellipse">
                    <h2>URBNSTEP</h2>
                </a>
                <ul class="nav-list">
                    <li><a href="#" class="nav-list__item">商品列表</a></li>
                    <li><a href="#" class="nav-list__item">品牌故事</a></li>
                </ul>
            </nav>
            <div class="copyright text-center col-12">
                <p>Copyright ©2025 URBNSTYLE</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>