<header class="header-nav">
    <div class="container">
        <div class="row">
            <nav class="nav col-12">
                <a href="#" class="nav__home">
                    <img src="../assets/images/lightgreen_ellipse.svg" alt="lightgreen_ellipse"
                        class="lightgreen_ellipse">
                    <h2>URBNSTEP</h2>
                </a>
                <ul class="nav-list">
                    <li><a href="#" class="nav-list__item">商品列表</a></li>
                    <li><a href="#" class="nav-list__item">品牌故事</a></li>
                </ul>
                <!-- bs icon person -->
                <a href="#" class="nav-person-icon__link">
                    <i class="bi bi-person nav__person-icon"></i>
                </a>
            </nav>
        </div>
    </div>
</header>