// .header-container {
//     // max-width: 1296px;
//     // 讓 content width 為 1296px
//     max-width: 1320px;

//     margin: 0 auto;
//     padding-left: 12px;
//     padding-right: 12px;
//     padding-top: 16px;
//     padding-bottom: 16px;
// }


.container {
    // max-width: 1296px;
    // 讓 content width 為 1296px
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

[class*=col-] {
    padding-left: 12px;
    padding-right: 12px;
    // outline: 1px solid #000;
}
.col-1 {
    width: 8.33333%;
}
.col-2 {
    width: 16.66666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-5 {
    width: 41.66666%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333%;
}
.col-10 {
    width: 83.33333%;
}
.col-12 {
    width: 100%;
}

@media (max-width: 767px) {
    .col-3 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
}

// .footer {
//     padding: 64px 0;

//     .nav {
//         justify-content: space-between;
//         margin-bottom: 24px;
//     }
//     .copyright {
//         padding-top: 32px;
        
//         p {
//             font-size: 14px;
//             font-weight: 400;
//             color: #6C757D;
//             &:nth-child(1) {
//                 margin-bottom: 4px;
//             }
//         }
//     }
// }