<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表頁</title>
</head>

<body>
    <!-- <header class="header-nav">
        <div class="container">
            <div class="row">
                <nav class="nav col-12">
                    <a href="#" class="nav__home">
                        <img src="../assets/images/lightgreen_ellipse.svg" alt="lightgreen_ellipse"
                            class="lightgreen_ellipse">
                        <h2>URBNSTEP</h2>
                    </a>
                    <ul class="nav-list">
                        <li><a href="#" class="nav-list__item">商品列表</a></li>
                        <li><a href="#" class="nav-list__item">品牌故事</a></li>
                    </ul>
                    <a href="#" class="nav-person-icon__link">
                        <i class="bi bi-person nav__person-icon"></i>
                    </a>
                </nav>
            </div>
        </div>
    </header> -->
    <%- include('./layout/header-nav'); -%>

    <div class="content container">
        <div class="breadcrumb display-flex">
            <a href="#">首頁</a>
            <span class="delimiter">/</span>
            <a href="#">女鞋</a>
            <span class="delimiter">/</span>
            <a href="#" class="active">所有商品</a>
        </div>
        <h1>女鞋</h1>
        <div class="row">
            <div class="wrap">
                <aside class="aside col-2">
                    <ul class="categories">
                        <li><a href="#" class="category-item active">所有商品</a></li>
                        <li><a href="#" class="category-item">慢跑鞋</a></li>
                        <li><a href="#" class="category-item">滑板鞋</a></li>
                        <li><a href="#" class="category-item">厚底鞋</a></li>
                        <li><a href="#" class="category-item">限定 / 聯名企劃</a></li>
                    </ul>
                </aside>
                <main class="main col-10">
                    <ul class="product-list">
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">PLATFORM 404</h2>
                                <p class="product-price">NT$2,600</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">PLATFORM 404</h2>
                                <p class="product-price">NT$2,600</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">VM001</h2>
                                <p class="product-price">NT$2,600</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">Melty Kiss</h2>
                                <p class="product-price">NT$4,000</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">BOOMBLOK-White</h2>
                                <p class="product-price">NT$3,200</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">BOOMBLOK-White</h2>
                                <p class="product-price">NT$3,200</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">R:UNER</h2>
                                <p class="product-price">NT$4,000</p>
                            </a>
                        </li>
                        <li>
                            <a href="productDetail.html" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">Sugar Snap</h2>
                                <p class="product-price">NT$4,000</p>
                            </a>
                        </li>
                        <li>
                            <a href="" class="product">
                                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true"
                                    alt="product-photo">
                                <h2 class="product-name">Neofoam</h2>
                                <p class="product-price">NT$4,000</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="pagination">
                        <li><a href="#" class="page prev-page"><i class="bi bi-chevron-left"></i></a></li>
                        <li><a href="#" class="page active">1</a></li>
                        <li><a href="#" class="page">2</a></li>
                        <li><a href="#" class="page">3</a></li>
                        <li><a href="#" class="page">...</a></li>
                        <li><a href="#" class="page">10</a></li>
                        <li><a href="#" class="page next-page"><i class="bi bi-chevron-right"></i></a></li>
                    </ul>
                </main>
            </div>

        </div>
    </div>
    <!-- <section class="call-to-action-section">
        <header>
            <h3>加入會員取得 9 折優惠</h3>
            <a href="#" class="bg-black-white-text-btn">馬上註冊</a>
        </header>
    </section> -->
    <%- include('./layout/call-to-action-section'); -%>

    <!-- <footer class="footer">
        <div class="container">
            <div class="row">
                <nav class="nav col-12">
                    <a href="#" class="nav__home">
                        <img src="../assets/images/lightgreen_ellipse.svg" alt="lightgreen_ellipse"
                            class="lightgreen_ellipse">
                        <h2>URBNSTEP</h2>
                    </a>
                    <ul class="nav-list">
                        <li><a href="#" class="nav-list__item">商品列表</a></li>
                        <li><a href="#" class="nav-list__item">品牌故事</a></li>
                    </ul>
                </nav>
                <div class="copyright text-center col-12">
                    <p>Copyright ©2025 URBNSTYLE</p>
                    <p>All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer> -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>